/* Know our price session */

body {
  padding: 30px;
  font-family: "Roboto";
}
.pricing-section {
  text-align: center;
}
.price-row {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
  padding: 32px;
}
.price-box {
  width: 22%;
  padding: 12px;
}
.price-box > h3 {
  font-weight: 500;
  font-size: 24px;
}
.section-header {
  color: #372750;
  text-align: center;
}
.section-head-p {
  font-size: 16px;
  line-height: 30px;
  width: 70%;
  margin: auto;
}
.column-1 {
  background-image: url("../pricing-section/assets/rectangle-1.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 12px;
}
.column-2 {
  background-image: url("../pricing-section/assets/rectangle-2.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 12px;
}
.column-3 {
  background-image: url("../pricing-section/assets/rectangle-3.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 12px;
}
.column-4 {
  background-image: url("../pricing-section/assets/rectangle-4.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 12px;
}
.price-rectangle {
  height: 190px;
}
.price-rectangle h3 {
  color: #ffffff;
  font-size: 32px;
  padding: 40px 12px;
}
.price-box p {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

/* Mobile responsiveness */
@media only screen and (max-width: 768px) {
  .price-box {
    width: 100%;
    padding: 12px;
  }
  .section-head-p {
    width: 100%;
  }
}
